body {
	background-color: grey;
	color: #fff;
	/*font-family: 'Wellfleet', times, serif;*/
	font-size: 150%;
	margin: 0px 0px 0px 0px;}

button {
    background-color: black; 
    border: none;
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

container {
  	background-color: white; 
    border: none;
    color: black;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.form {
	background-color: white; 
    color: black;
    padding: 20px;
    text-align: right;
    text-decoration: none;

}

#travel {
	background-color: grey;
	color: black;
}

#city-input{
	background-color: orange;
	color: black;
}

#GIFArea{
    margin-top: 30px;
    margin-left: 30px;
}